{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "targets": {
                    "chrome": "40",
                    "ie": "11"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-typescript",
        "@babel/plugin-transform-parameters",
        "@babel/plugin-syntax-async-generators",
        [
            "@babel/plugin-transform-for-of",
            {
                "assumeArray": true // defaults to false
            }
        ],
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-shorthand-properties"
    ]
}